*{
	font-family: 'Encode Sans Expanded', sans-serif;
	padding: 0; 
	margin: 0;
}
			
			a{
	color: black;
	font-weight: bold;
}

header{
	background:#FF8000;
	padding: 10px 15px;
}

header img {
	width: 90px;
}
			
		header nav {
	float: right;
	margin-top: 37px;
}
			
		header nav ul {
	list-style: none;
}

header nav  li {
	display: inline-block;
	margin-right: 5px;
}

			header nav > li {
				float:left;
			}
			
			header nav li a {
				background-color:#FF8000;
				color:#fff;
				text-decoration:none;
				padding:10px 12px;
				display:block;
			}
			
			header nav li a:hover {
				background-color:#434343;
			}
			
			header nav li ul {
				display:none;
				position:absolute;
				min-width:140px;
			}
			
			header nav li:hover > ul {
				display:block;
			}
			
			header nav li ul li {
				position:relative;
			}
			
			header nav li ul li ul {
				right:-140px;
				top:0px;
			}

section .imagentitulo {
	height: 250px;
	background: url('../img/tienda.jpg') no-repeat center;
	background-size: cover;
	padding-top: 40px;
}

section .imagentitulo h3{
	text-align: center;
	color: white;
	text-transform: uppercase;
}

section .imagentitulo ul {
	list-style: none;
	text-align: center;
    margin-top: 150px;
}

section .imagentitulo ul li {
	display: inline-block;
}
section .imagentitulo ul li a {
	text-decoration: none;
	border: solid 2px white;
	color: white;
	padding: 15px;
	text-transform: uppercase;
	border-radius: 5px;
	font-weight: normal;
}
section .imagentitulo ul li a:hover{
	color: #FF8000;
	border-color: #FF8000;
}
section article p {
	max-width: 400px;
	margin: 30px auto;
	text-align: center;
}
section nav {
	background-color: white;
}
section nav ul li {
	text-align: center;
    padding: 40px 80px;
    overflow: auto;
    display: inline-block;
}
